In [1]:
import numpy as np

# NumPy Assignment

## Suppose you have a superstore which runs 24/7. Your tasks are to:

1) Create a dataset of the sale transactions of each day and each hour for the Month of January. Each row contains in the array should contain 23 records. Each index will represent total sale in that hour. e.g row 0 will contain the array of 23 transactions of Jan 1st. Now the 0 index of each row should contain the total sale made at 00:00 hours of respective date

In [35]:
data = np.random.randint(low =1, high = 100, size= (31,24))

In [36]:
data

array([[55, 55, 70, 67, 65, 44, 16, 25, 80, 35, 89, 46, 61, 35, 22,  4,
        84, 84, 95, 55, 29,  1, 35, 63],
       [12, 68, 63, 42, 75, 71, 98, 62, 44, 52,  8, 57, 95,  9, 32, 32,
        50, 79, 59, 74,  1, 34,  4, 79],
       [23, 63, 29, 44, 45, 55, 89, 40, 40,  4,  9, 19, 45, 34, 95, 42,
        26, 38, 64, 78, 56, 36, 23, 92],
       [22, 70, 51, 54, 62, 22, 12, 47, 18, 64, 51, 78, 73, 23, 87, 36,
        64, 92, 78, 42, 27, 37, 71, 70],
       [49, 23,  5, 62, 25, 91,  1, 76, 42, 45, 10, 19, 97, 95, 12, 60,
        60, 82, 81, 53, 80, 72, 84, 48],
       [61, 27, 22, 31, 97, 89, 15, 95, 34, 20, 21, 44, 84, 78, 27, 71,
        69, 88, 38, 13, 27, 49,  2, 49],
       [90, 96, 64, 69, 97, 56, 80, 79, 36, 85, 25, 25, 14, 56, 73, 35,
        99, 18, 72, 17, 58, 98,  5, 77],
       [58, 30,  1, 31, 72, 96, 45, 97, 38, 88, 25,  5, 26, 26, 60, 44,
        66, 15, 30, 18, 61, 48, 92, 54],
       [29, 99, 15, 74,  8, 79, 20, 59, 55, 52, 98, 51, 22, 81, 88, 18,
        97, 49, 77, 85, 84, 39, 79, 69],
       [67, 78, 30, 42, 18, 76, 83,  6, 62, 38, 98, 28, 48, 15, 20, 86,
        26, 13, 59, 16, 65, 42, 73, 95],
       [79, 66, 94, 65, 64, 36, 71, 73, 40, 52, 46,  7,  2, 36,  8, 79,
        57, 45, 93, 43,  4, 14, 38, 10],
       [ 6, 72, 67, 14,  7, 57, 92, 74,  4, 42, 91, 80, 41, 94, 44, 52,
        95, 86, 56, 41, 56, 64, 32, 75],
       [47, 48, 97, 82, 56, 17, 42, 21, 56, 54, 46, 85, 25, 35,  4, 64,
        85, 64, 74, 33, 74, 15, 21, 98],
       [40, 25, 95, 54, 63,  4, 84, 63, 75, 97, 36, 17, 99,  1,  5,  4,
         3, 84, 10, 67, 85, 53, 58, 84],
       [66, 37, 33, 28, 90, 71, 72, 39, 95, 17, 31, 79, 83,  6, 23, 83,
        15,  2, 48, 47, 15, 33, 85, 62],
       [20, 71,  3, 94, 17,  5, 95,  8, 34, 36, 87,  3, 13, 62, 62, 63,
        96, 51, 59, 17,  5, 70, 34, 17],
       [ 8, 33, 14, 55, 99, 20, 44,  6, 58, 27, 88, 13, 49, 33, 64, 68,
        48, 52, 34, 57, 46, 76,  4, 70],
       [80, 37,  9, 86, 27, 53, 76, 33, 35,  2, 52, 50, 41, 59, 33, 94,
        65,  4, 79, 40, 58, 26, 29, 59],
       [99, 40, 34, 76, 13, 14, 32, 16, 79, 72,  2, 72,  4, 84, 86, 71,
        26, 67, 25, 30,  7, 16, 50, 26],
       [51, 13, 48, 64, 52, 22, 68, 95, 28, 56, 46, 62, 77, 82, 38, 45,
        37, 78, 75, 86,  9, 43, 50,  4],
       [26, 79, 53, 49, 24, 51, 81, 13, 76,  8, 83, 73, 23, 14, 53,  3,
        15, 39, 76, 75, 58, 69, 84, 27],
       [18,  2, 54, 90, 81,  9, 63, 85, 18, 21, 55, 90, 25, 45, 75, 76,
        68, 34, 84, 38, 72, 83, 16, 85],
       [ 4, 52, 51, 15, 63, 36, 99, 92, 90, 30, 83, 38, 88, 35, 82,  9,
        43, 51, 73, 56, 63, 82, 73, 47],
       [28, 96, 69, 74, 79, 36, 94, 46, 51, 25, 78, 15, 62, 31, 85, 72,
         4,  7, 43, 72, 79, 69, 69, 89],
       [53, 13, 22, 70, 62, 17, 61, 14, 80, 99, 35, 29, 21, 99, 90, 93,
        63, 40, 18, 92, 88, 63, 49, 11],
       [93, 68, 72,  1,  8, 85, 34, 15, 53, 26, 40, 11, 98, 52, 13, 68,
         3,  6,  8,  3, 77, 10, 84, 12],
       [40, 22, 57, 95, 29,  4, 15, 66, 52, 39, 93, 16,  1, 82, 30, 57,
        21,  6, 78, 94, 86, 88, 54, 46],
       [24, 50, 91,  4, 77, 48, 25, 47, 90, 56, 99,  1, 41, 17, 52, 58,
        79, 43, 34, 60, 60, 86, 60,  9],
       [38, 62, 19, 32, 19, 27,  9, 93, 58, 29, 21, 78, 98, 32, 27, 38,
        64, 56, 34, 87, 50,  9, 73, 66],
       [81, 54, 74, 28, 16, 95, 65, 60, 32, 86, 51, 98, 60, 65, 15, 66,
        94, 35,  6, 28, 35, 76, 39,  8],
       [43,  9, 86, 78, 95,  3, 76, 82, 33, 87, 69, 58,  2, 96, 72, 37,
        33, 46,  5, 56, 21, 53, 30, 31]])

In [38]:
np.size(data,axis=0) #row

31

In [39]:
np.size(data,axis=1) #column

24


2) Calculate Daily Average Sale of this dataset

In [41]:
np.mean(data, axis = 1)

array([50.625     , 50.        , 45.375     , 52.125     , 53.        ,
       47.95833333, 59.33333333, 46.91666667, 59.45833333, 49.33333333,
       46.75      , 55.91666667, 51.79166667, 50.25      , 48.33333333,
       42.58333333, 44.41666667, 46.95833333, 43.375     , 51.20833333,
       48.        , 53.625     , 56.45833333, 57.20833333, 53.41666667,
       39.16666667, 48.79166667, 50.45833333, 46.625     , 52.79166667,
       50.04166667])


3) Calculate the Average Sale of each hour, so that you have insight of the busiest hour in the month.

In [42]:
data.mean(axis=0)

array([45.48387097, 50.25806452, 48.12903226, 53.87096774, 51.77419355,
       44.80645161, 56.67741935, 52.48387097, 51.16129032, 46.58064516,
       53.74193548, 43.4516129 , 48.96774194, 48.77419355, 47.64516129,
       52.51612903, 53.38709677, 46.90322581, 53.70967742, 50.74193548,
       49.5483871 , 50.12903226, 48.38709677, 52.64516129])

4) Calculate the minimum and Maximum Sale of each day.

In [46]:
data.min(axis = 1)

array([ 1,  1,  4, 12,  1,  2,  5,  1,  8,  6,  2,  4,  4,  1,  2,  3,  4,
        2,  2,  4,  3,  2,  4,  4, 11,  1,  1,  1,  9,  6,  2])

In [47]:
np.max(data, axis = 1)

array([95, 98, 95, 92, 97, 97, 99, 97, 99, 98, 94, 95, 98, 99, 95, 96, 99,
       94, 99, 95, 84, 90, 99, 96, 99, 98, 95, 99, 98, 98, 96])

5) Calculate the Minimum and Maximum Sale of each hour.

In [48]:
data.min(axis = 0)

array([4, 2, 1, 1, 7, 3, 1, 6, 4, 2, 2, 1, 1, 1, 4, 3, 3, 2, 5, 3, 1, 1,
       2, 4])

In [49]:
data.max(axis = 0)

array([99, 99, 97, 95, 99, 96, 99, 97, 95, 99, 99, 98, 99, 99, 95, 94, 99,
       92, 95, 94, 88, 98, 92, 98])


6) Calculate Daily Cumulative Sum

In [50]:
data.cumsum(axis=1)

array([[  55,  110,  180,  247,  312,  356,  372,  397,  477,  512,  601,
         647,  708,  743,  765,  769,  853,  937, 1032, 1087, 1116, 1117,
        1152, 1215],
       [  12,   80,  143,  185,  260,  331,  429,  491,  535,  587,  595,
         652,  747,  756,  788,  820,  870,  949, 1008, 1082, 1083, 1117,
        1121, 1200],
       [  23,   86,  115,  159,  204,  259,  348,  388,  428,  432,  441,
         460,  505,  539,  634,  676,  702,  740,  804,  882,  938,  974,
         997, 1089],
       [  22,   92,  143,  197,  259,  281,  293,  340,  358,  422,  473,
         551,  624,  647,  734,  770,  834,  926, 1004, 1046, 1073, 1110,
        1181, 1251],
       [  49,   72,   77,  139,  164,  255,  256,  332,  374,  419,  429,
         448,  545,  640,  652,  712,  772,  854,  935,  988, 1068, 1140,
        1224, 1272],
       [  61,   88,  110,  141,  238,  327,  342,  437,  471,  491,  512,
         556,  640,  718,  745,  816,  885,  973, 1011, 1024, 1051, 1100,
        1102, 1151],
       [  90,  186,  250,  319,  416,  472,  552,  631,  667,  752,  777,
         802,  816,  872,  945,  980, 1079, 1097, 1169, 1186, 1244, 1342,
        1347, 1424],
       [  58,   88,   89,  120,  192,  288,  333,  430,  468,  556,  581,
         586,  612,  638,  698,  742,  808,  823,  853,  871,  932,  980,
        1072, 1126],
       [  29,  128,  143,  217,  225,  304,  324,  383,  438,  490,  588,
         639,  661,  742,  830,  848,  945,  994, 1071, 1156, 1240, 1279,
        1358, 1427],
       [  67,  145,  175,  217,  235,  311,  394,  400,  462,  500,  598,
         626,  674,  689,  709,  795,  821,  834,  893,  909,  974, 1016,
        1089, 1184],
       [  79,  145,  239,  304,  368,  404,  475,  548,  588,  640,  686,
         693,  695,  731,  739,  818,  875,  920, 1013, 1056, 1060, 1074,
        1112, 1122],
       [   6,   78,  145,  159,  166,  223,  315,  389,  393,  435,  526,
         606,  647,  741,  785,  837,  932, 1018, 1074, 1115, 1171, 1235,
        1267, 1342],
       [  47,   95,  192,  274,  330,  347,  389,  410,  466,  520,  566,
         651,  676,  711,  715,  779,  864,  928, 1002, 1035, 1109, 1124,
        1145, 1243],
       [  40,   65,  160,  214,  277,  281,  365,  428,  503,  600,  636,
         653,  752,  753,  758,  762,  765,  849,  859,  926, 1011, 1064,
        1122, 1206],
       [  66,  103,  136,  164,  254,  325,  397,  436,  531,  548,  579,
         658,  741,  747,  770,  853,  868,  870,  918,  965,  980, 1013,
        1098, 1160],
       [  20,   91,   94,  188,  205,  210,  305,  313,  347,  383,  470,
         473,  486,  548,  610,  673,  769,  820,  879,  896,  901,  971,
        1005, 1022],
       [   8,   41,   55,  110,  209,  229,  273,  279,  337,  364,  452,
         465,  514,  547,  611,  679,  727,  779,  813,  870,  916,  992,
         996, 1066],
       [  80,  117,  126,  212,  239,  292,  368,  401,  436,  438,  490,
         540,  581,  640,  673,  767,  832,  836,  915,  955, 1013, 1039,
        1068, 1127],
       [  99,  139,  173,  249,  262,  276,  308,  324,  403,  475,  477,
         549,  553,  637,  723,  794,  820,  887,  912,  942,  949,  965,
        1015, 1041],
       [  51,   64,  112,  176,  228,  250,  318,  413,  441,  497,  543,
         605,  682,  764,  802,  847,  884,  962, 1037, 1123, 1132, 1175,
        1225, 1229],
       [  26,  105,  158,  207,  231,  282,  363,  376,  452,  460,  543,
         616,  639,  653,  706,  709,  724,  763,  839,  914,  972, 1041,
        1125, 1152],
       [  18,   20,   74,  164,  245,  254,  317,  402,  420,  441,  496,
         586,  611,  656,  731,  807,  875,  909,  993, 1031, 1103, 1186,
        1202, 1287],
       [   4,   56,  107,  122,  185,  221,  320,  412,  502,  532,  615,
         653,  741,  776,  858,  867,  910,  961, 1034, 1090, 1153, 1235,
        1308, 1355],
       [  28,  124,  193,  267,  346,  382,  476,  522,  573,  598,  676,
         691,  753,  784,  869,  941,  945,  952,  995, 1067, 1146, 1215,
        1284, 1373],
       [  53,   66,   88,  158,  220,  237,  298,  312,  392,  491,  526,
         555,  576,  675,  765,  858,  921,  961,  979, 1071, 1159, 1222,
        1271, 1282],
       [  93,  161,  233,  234,  242,  327,  361,  376,  429,  455,  495,
         506,  604,  656,  669,  737,  740,  746,  754,  757,  834,  844,
         928,  940],
       [  40,   62,  119,  214,  243,  247,  262,  328,  380,  419,  512,
         528,  529,  611,  641,  698,  719,  725,  803,  897,  983, 1071,
        1125, 1171],
       [  24,   74,  165,  169,  246,  294,  319,  366,  456,  512,  611,
         612,  653,  670,  722,  780,  859,  902,  936,  996, 1056, 1142,
        1202, 1211],
       [  38,  100,  119,  151,  170,  197,  206,  299,  357,  386,  407,
         485,  583,  615,  642,  680,  744,  800,  834,  921,  971,  980,
        1053, 1119],
       [  81,  135,  209,  237,  253,  348,  413,  473,  505,  591,  642,
         740,  800,  865,  880,  946, 1040, 1075, 1081, 1109, 1144, 1220,
        1259, 1267],
       [  43,   52,  138,  216,  311,  314,  390,  472,  505,  592,  661,
         719,  721,  817,  889,  926,  959, 1005, 1010, 1066, 1087, 1140,
        1170, 1201]], dtype=int32)


7) Calculate Daily Total Sum

In [51]:
data.sum(axis = 1)

array([1215, 1200, 1089, 1251, 1272, 1151, 1424, 1126, 1427, 1184, 1122,
       1342, 1243, 1206, 1160, 1022, 1066, 1127, 1041, 1229, 1152, 1287,
       1355, 1373, 1282,  940, 1171, 1211, 1119, 1267, 1201])

8) Use Boolean Indexing to search for records where sale is greater than a defined value, choose an appropriate value depending upon your dataset

In [52]:
data>50

array([[ True,  True,  True,  True,  True, False, False, False,  True,
        False,  True, False,  True, False, False, False,  True,  True,
         True,  True, False, False, False,  True],
       [False,  True,  True, False,  True,  True,  True,  True, False,
         True, False,  True,  True, False, False, False, False,  True,
         True,  True, False, False, False,  True],
       [False,  True, False, False, False,  True,  True, False, False,
        False, False, False, False, False,  True, False, False, False,
         True,  True,  True, False, False,  True],
       [False,  True,  True,  True,  True, False, False, False, False,
         True,  True,  True,  True, False,  True, False,  True,  True,
         True, False, False, False,  True,  True],
       [False, False, False,  True, False,  True, False,  True, False,
        False, False, False,  True,  True, False,  True,  True,  True,
         True,  True,  True,  True,  True, False],
       [ True, False, False, False,  True,  True, False,  True, False,
        False, False, False,  True,  True, False,  True,  True,  True,
        False, False, False, False, False, False],
       [ True,  True,  True,  True,  True,  True,  True,  True, False,
         True, False, False, False,  True,  True, False,  True, False,
         True, False,  True,  True, False,  True],
       [ True, False, False, False,  True,  True, False,  True, False,
         True, False, False, False, False,  True, False,  True, False,
        False, False,  True, False,  True,  True],
       [False,  True, False,  True, False,  True, False,  True,  True,
         True,  True,  True, False,  True,  True, False,  True, False,
         True,  True,  True, False,  True,  True],
       [ True,  True, False, False, False,  True,  True, False,  True,
        False,  True, False, False, False, False,  True, False, False,
         True, False,  True, False,  True,  True],
       [ True,  True,  True,  True,  True, False,  True,  True, False,
         True, False, False, False, False, False,  True,  True, False,
         True, False, False, False, False, False],
       [False,  True,  True, False, False,  True,  True,  True, False,
        False,  True,  True, False,  True, False,  True,  True,  True,
         True, False,  True,  True, False,  True],
       [False, False,  True,  True,  True, False, False, False,  True,
         True, False,  True, False, False, False,  True,  True,  True,
         True, False,  True, False, False,  True],
       [False, False,  True,  True,  True, False,  True,  True,  True,
         True, False, False,  True, False, False, False, False,  True,
        False,  True,  True,  True,  True,  True],
       [ True, False, False, False,  True,  True,  True, False,  True,
        False, False,  True,  True, False, False,  True, False, False,
        False, False, False, False,  True,  True],
       [False,  True, False,  True, False, False,  True, False, False,
        False,  True, False, False,  True,  True,  True,  True,  True,
         True, False, False,  True, False, False],
       [False, False, False,  True,  True, False, False, False,  True,
        False,  True, False, False, False,  True,  True, False,  True,
        False,  True, False,  True, False,  True],
       [ True, False, False,  True, False,  True,  True, False, False,
        False,  True, False, False,  True, False,  True,  True, False,
         True, False,  True, False, False,  True],
       [ True, False, False,  True, False, False, False, False,  True,
         True, False,  True, False,  True,  True,  True, False,  True,
        False, False, False, False, False, False],
       [ True, False, False,  True,  True, False,  True,  True, False,
         True, False,  True,  True,  True, False, False, False,  True,
         True,  True, False, False, False, False],
       [False,  True,  True, False, False,  True,  True, False,  True,
        False,  True,  True, False, False,  True, False, False, False,
         True,  True,  True,  True,  True, False],
       [False, False,  True,  True,  True, False,  True,  True, False,
        False,  True,  True, False, False,  True,  True,  True, False,
         True, False,  True,  True, False,  True],
       [False,  True,  True, False,  True, False,  True,  True,  True,
        False,  True, False,  True, False,  True, False, False,  True,
         True,  True,  True,  True,  True, False],
       [False,  True,  True,  True,  True, False,  True, False,  True,
        False,  True, False,  True, False,  True,  True, False, False,
        False,  True,  True,  True,  True,  True],
       [ True, False, False,  True,  True, False,  True, False,  True,
         True, False, False, False,  True,  True,  True,  True, False,
        False,  True,  True,  True, False, False],
       [ True,  True,  True, False, False,  True, False, False,  True,
        False, False, False,  True,  True, False,  True, False, False,
        False, False,  True, False,  True, False],
       [False, False,  True,  True, False, False, False,  True,  True,
        False,  True, False, False,  True, False,  True, False, False,
         True,  True,  True,  True,  True, False],
       [False, False,  True, False,  True, False, False, False,  True,
         True,  True, False, False, False,  True,  True,  True, False,
        False,  True,  True,  True,  True, False],
       [False,  True, False, False, False, False, False,  True,  True,
        False, False,  True,  True, False, False, False,  True,  True,
        False,  True, False, False,  True,  True],
       [ True,  True,  True, False, False,  True,  True,  True, False,
         True,  True,  True,  True,  True, False,  True,  True, False,
        False, False, False,  True, False, False],
       [False, False,  True,  True,  True, False,  True,  True, False,
         True,  True,  True, False,  True,  True, False, False, False,
        False,  True, False,  True, False, False]])

8) Use Boolean Indexing to search for records where sale is greater than a defined value, choose an appropriate value depending upon your dataset

In [62]:
condition = data>80
(data[data>80])

array([89, 84, 84, 95, 98, 95, 89, 95, 92, 87, 92, 91, 97, 95, 82, 81, 84,
       97, 89, 95, 84, 88, 90, 96, 97, 85, 99, 98, 96, 97, 88, 92, 99, 98,
       81, 88, 97, 85, 84, 83, 98, 86, 95, 94, 93, 92, 91, 94, 95, 86, 97,
       82, 85, 85, 98, 95, 84, 97, 99, 84, 85, 84, 90, 95, 83, 83, 85, 94,
       95, 87, 96, 99, 88, 86, 94, 99, 84, 86, 95, 82, 86, 81, 83, 84, 90,
       81, 85, 90, 84, 83, 85, 99, 92, 90, 83, 88, 82, 82, 96, 94, 85, 89,
       99, 99, 90, 93, 92, 88, 93, 85, 98, 84, 95, 93, 82, 94, 86, 88, 91,
       90, 99, 86, 93, 98, 87, 81, 95, 86, 98, 94, 86, 95, 82, 87, 96])

In [57]:
data[condition]

array([89, 84, 84, 95, 98, 95, 89, 95, 92, 87, 92, 91, 97, 95, 82, 81, 84,
       97, 89, 95, 84, 88, 90, 96, 97, 85, 99, 98, 96, 97, 88, 92, 99, 98,
       81, 88, 97, 85, 84, 83, 98, 86, 95, 94, 93, 92, 91, 94, 95, 86, 97,
       82, 85, 85, 98, 95, 84, 97, 99, 84, 85, 84, 90, 95, 83, 83, 85, 94,
       95, 87, 96, 99, 88, 86, 94, 99, 84, 86, 95, 82, 86, 81, 83, 84, 90,
       81, 85, 90, 84, 83, 85, 99, 92, 90, 83, 88, 82, 82, 96, 94, 85, 89,
       99, 99, 90, 93, 92, 88, 93, 85, 98, 84, 95, 93, 82, 94, 86, 88, 91,
       90, 99, 86, 93, 98, 87, 81, 95, 86, 98, 94, 86, 95, 82, 87, 96])

In [74]:
#tell how many hours in january giving sale greater than 80 rupees
total_hours = len(data.reshape(31*24))
total_hours

744

In [77]:
hours80 = len(data[data>80])
hours80

135

In [86]:
print(hours80, 'out of', total_hours, 'hours have sale greater than 80 Rupees')

135 out of 744 hours have sale greater than 80 Rupees

In [88]:
day_sale = data.sum(axis= 1)
day_sale

array([1215, 1200, 1089, 1251, 1272, 1151, 1424, 1126, 1427, 1184, 1122,
       1342, 1243, 1206, 1160, 1022, 1066, 1127, 1041, 1229, 1152, 1287,
       1355, 1373, 1282,  940, 1171, 1211, 1119, 1267, 1201])

In [89]:
day_sale>1000

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True, False,  True,
        True,  True,  True,  True])

In [94]:
days_sale1000 = len(day_sale[day_sale> 1000])
print('There are',days_sale1000,'days in which sale is greater than 1000.')

There are 30 days in which sale is greater than 1000.